.courses {
    background: #504DC2;

    &-header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 70px;
    }

    &-cards {
        display: flex;
        justify-content: space-between;

        &__item {
            max-width: 250px;
        }
    }
}