.advantages {
    padding-bottom: 70px;
    background: #F6F6F8;

    &__content {
        padding-bottom: 80px;

        @media (max-width: 991px) {
            padding-bottom: 40px;
        }
    }

    &__title {
        text-align: left !important;
    }

    &__link {
        @media (max-width: 767px) {
            display: inline-block;
            margin-bottom: 40px;
        }
    }

    &__image {
        border-radius: 15px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }

}