.advantages {
    padding-bottom: 70px;
    background: #F6F6F8;

    &__content {
        padding-bottom: 80px;
    }

    &__title {
        text-align: left !important;
    }

    &__image {
        border-radius: 15px;
        overflow: hidden;
        img {
            width: 100%;
        }
    }
}