.about {
    &__wrapper {
        max-width: 740px;
        margin: 0 auto;
    }
    &-cards {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            width: 30%;
        }

        &__img {
            margin: 0 auto;
            margin-bottom: 15px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #4985FF;
            overflow: hidden;

            img {
                height: 100%;
            }
        }

        &__text {
            padding-top: 20px !important;
        }
    }
}

@media (max-width: 767px) {
    .about {
        &-cards {
            &__item {
                margin: 0 auto;
                margin-bottom: 30px;
                width: 60%;

                &:last-child {
                    margin-bottom: 0;
                }
            } 
        }   
    }
}

@media (max-width: 575px) {
    .about {
        &-cards {
            &__item {
                width: 90%;
            } 
        }   
    }
}