.about {
    &__wrapper {
        max-width: 740px;
        margin: 0 auto;
    }
    &-cards {
        margin-top: 50px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;

        &__item {
            // margin: 15px;
            max-width: 350px;
        }

        &__img {
            margin-bottom: 15px;
            width: 150px;
            height: 150px;
            border-radius: 50%;
            background-color: #4985FF;
        }

        &__text {
            padding-top: 20px !important;
        }
    }
}